<!DOCTYPE suite SYSTEM "http://beust.com/testng/testng-1.0.dtd" >
<suite name="SystemSuite" verbose="1">

<test name="googleTests" >
		<classes>
			<class name="com.epam.mentoring.test.gmail.LoginTest" />
			
		</classes>
	</test>
	
	<test name="YahooTests" >
		<classes>
			<class name="com.epam.mentoring.test.yahoo.LoginTest" />
			<class name="com.epam.mentoring.test.yahoo.CreateLetterDraftTest" />
			<class name="com.epam.mentoring.test.yahoo.SendLetterFromDraftTest" />
		</classes>
	</test>

    <test name="MailRuTest" >
        <classes>
            <class name="com.epam.mentoring.test.mailru.LoginTest" />
        </classes>
    </test>
</suite>